<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - Krop</title>

@RenderSection("Styles",false)
<link rel="stylesheet" href="~/themes/mazer-theme/dist/assets/compiled/css/app.css"/>
<link rel="stylesheet" href="~/themes/mazer-theme/dist/assets/compiled/css/app-dark.css"/>
