@model CreateAppUserDTO
@{
    ViewData["Title"] = "Kullanıcı Ekle";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}
<div class="page-heading">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="page-content">
    <div class="row">
        <div class="col">
            <div class="card">
                <partial name="Partials/_SuccessErrorAlertPartial" />
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label>Kullanıcı Adı</label>
                            <input type="text" class="form-control" asp-for="UserName" placeholder="Kullanıcı Adı"/>
                        </div>
                        <div class="form-group">
                            <label>Şifre</label>
                            <input type="password" class="form-control" asp-for="Password" placeholder="Şifre" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" asp-for="Email" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <div class="row d-flex">
                                <div class="col-md-6">
                                    <label>Ad</label>
                                    <input type="text" class="form-control" asp-for="FirstName" placeholder="Ad" />
                                </div>
                                <div class="col-md-6">
                                    <label>Soyad</label>
                                    <input type="text" class="form-control" asp-for="LastName" placeholder="Soyad" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Kimlik Numarası</label>
                            <input type="text" class="form-control" asp-for="NationalNumber" placeholder="Kimlik Numarası" />
                        </div>
                        <div class="form-group">
                            <label>Telefon Numarası</label>
                            <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Telefon Numarası" />
                        </div>
                        <div class="form-group">
                            <label>Ülke</label>
                            <input type="text" class="form-control" asp-for="Country" placeholder="Ülke" />
                        </div>
                        <div class="form-group">
                            <label>Şehir</label>
                            <input type="text" class="form-control" asp-for="City" placeholder="Şehir" />
                        </div>
                        <div class="form-group">
                            <label>Adres</label>
                            <textarea rows="3" class="form-control" asp-for="Addres"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>