@using Krop.DTO.Dtos.Auths
@model IdResetPasswordDTO
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Şifre Sıfırlama</title>

    <link rel="stylesheet" href="~/themes/mazer-theme/dist/assets/compiled/css/app.css" />
    <link rel="stylesheet" href="~/themes/mazer-theme/dist/assets/compiled/css/app-dark.css" />
    <link rel="stylesheet" href="~/themes/mazer-theme/dist/assets/compiled/css/auth.css">
</head>
<body>
    <script src="~/themes/mazer-theme/dist/assets/static/js/initTheme.js"></script>
    <div id="auth">

        <div class="row h-100">
            <div class="col-lg-5 col-12">
                <div id="auth-left">
                    <div class="auth-logo">
                        <a href="index.html"><img src="~/themes/mazer-theme/dist/assets/compiled/svg/logo.svg" alt="Logo"></a>
                    </div>
                    <h1 class="auth-title">Şifre Sıfırlama</h1>
                    <form method="post">
                        @if (TempData["ResetPasswordError"] != null)
                        {
                            <div class="alert alert-danger">
                                <span>@TempData["ResetPasswordError"]</span>
                            </div>
                        }
                        else if (TempData["ResetPasswordSuccess"] != null)
                        {
                            <div class="alert alert-success">
                                <span>@TempData["ResetPasswordSuccess"]</span>
                            </div>
                        }
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="password" class="form-control form-control-xl" asp-for="Password" placeholder="Şifre">
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Güncelle</button>
                    </form>
                    <div class="text-center mt-5 text-lg fs-4">
                        <p class='text-gray-600'>
                            Zaten bir hesabın var mı? <a asp-controller="Login" asp-action="Index" class="font-bold">Giriş</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block">
                <div id="auth-right">
                </div>
            </div>
        </div>

    </div>

    <script src="~/themes/mazer-theme/dist/assets/extensions/jquery/jquery.min.js"></script>
    <script src="~/themes/mazer-theme/dist/assets/static/js/components/dark.js"></script>
    <script src="~/themes/mazer-theme/dist/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/themes/mazer-theme/dist/assets/compiled/js/app.js"></script>
</body>
</html>
