@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <span>
            @TempData["Success"]
        </span>
    </div>
}
else if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        <span>
            @TempData["Error"]
        </span>
    </div>
}