@model CreateBrandDTO
@{
    ViewData["Title"] = "Marka Ekle";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}

<div class="page-heading">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="page-content">
    <div class="row">
        <div class="col">
            <div class="card">
                <partial name="Partials/_SuccessErrorAlertPartial"></partial>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label>Marka Adı</label>
                            <input type="text" class="form-control" asp-for="BrandName" placeholder="Marka Adı"/>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" asp-for="Email" placeholder="Email"/>
                        </div>
                        <div class="form-group">
                            <label>Telefon Numarası</label>
                            <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Telefon Numarası"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
